<mat-card>
  <mat-card-title>The Form</mat-card-title>
  <mat-card-subtitle> BEHOLD IT'S AWESOMENESS!</mat-card-subtitle>

  <form [formGroup]="mapFeatureForm">
    <div style="display: flex; flex-direction: column">
      <mat-form-field>
        <input matInput formControlName="name" requried type="text" placeholder="Map Feature Title">
      </mat-form-field>
      <mat-form-field>
        <textarea formControlName="description" name="feature-description"style="height: 100px" matInput placeholder="Feature Description"></textarea>
      </mat-form-field>
    </div>

    <mat-form-field>
      <input matInput formControlName="latitude" placeholder="Latitude" />
    </mat-form-field>
    <mat-form-field>
      <input matInput formControlName="longitude" placeholder="Longitude" />
    </mat-form-field>
    <div>
      <button mat-raised-button color="primary">Add</button>
    </div>
  </form>
</mat-card>
