<mat-toolbar color="primary">
  <button mat-icon-button (click)="snav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <h1>FortMap</h1>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #snav mode="over" closed>
    <app-side-content></app-side-content>
  </mat-sidenav>
  <mat-sidenav-content>
    <!--<app-playground></app-playground>-->
    <!-- <app-map></app-map> -->
    <mat-drawer-container>
      <mat-drawer mode="side" opened="true">
        <app-form-card></app-form-card>
      </mat-drawer>
      <mat-drawer-container>
        <sweet-dashboard></sweet-dashboard>
      </mat-drawer-container>
    </mat-drawer-container>
  </mat-sidenav-content>
</mat-sidenav-container>
